/*New catalog*/

/*widget*/
.EmbedWidgetSlider h3
{background : none!important;}

/*Catalogue FDP 2022*/

/*Titre H1*/
#catalog-v2 .CatalogResultsList-searchcontainer.bgTint h1.textCenter {
  color: #fff!important;
} 
#catalog-v2 .bgTint {
    background-color: #ea1e4e!important;
}
/*Mise en avant RS*/
#catalog-v2 .CatalogCard-title.CatalogCard-title--premium, #catalog-v2 h3.CatalogCardLine-title.textAccent.CatalogCard-title--premium {
    background: #ea1e4e!important;
}

/*Lien plan interactif FDP 2022*/
#catalog-v2 a.CatalogStandsBlock-link.textAccent.highlight {
text-decoration: underline;
color:#ea1e4e!important;}

/*Catalogue FDA 2021*/

.rub-fda #catalog-v2 .bgTint {
  background-color: #ffb300 !important;
}

/*cacher encart présent sur Foire d'Automne 2021 */
 
.rub-fda #catalog-v2.catalog-scope div.container div.Container-inner section.CatalogAppointmentBar {
    display: none !important;}
 
